<!DOCTYPE html>
<html lang = "en">
	<head>
		<script type = "text/javascript">
        		window.history.forward();
        		function noBack() {
            			window.history.forward();
        		}
    		</script>
		<link rel = "stylesheet" href = "{{ url_for("static", filename = "style3.css") }}" />
	</head>
	<body style = "text-align:center;">
                <img class = "filmReel1" src = "{{ url_for("static", filename = "1000_F_116184262_OXtEyENI2Cog9JaBh8HHElq4m59lRB2f.jpg") }}" 
		     alt = "Film_Reel_1">
                <img class = "filmReel2" src = "{{ url_for("static", filename = "1000_F_116184262_OXtEyENI2Cog9JaBh8HHElq4m59lRB2f.jpg") }}" 
		     alt = "Film_Reel_2">
                <img class = "filmReel3" src = "{{ url_for("static", filename = "giphy.webp") }}" alt = "Film_Rell_3">
                <button class = "navigate-button-1" 
                        onclick = "window.location = '{{ url_for("user_homepage", user_id = user_id) }}'">
			Favourites Page
		</button>
                <button class = "navigate-button-2" 
                        onclick = "window.location = '{{ url_for("index") }}'">
			Logout
		</button>
		<p class = "text1">Your very own movie-search engine!</p>
		<form method = "POST" action = "/movie_search/<user_id>">
			<input type = "radio" id = "movie_search" name = "action_type" value = "Search movies" checked>
    			<label for = "movie_search">Search movies</label>
                        <input type = "radio" id = "favourites_addition" name = "action_type" value = "Add movies to favorites">
			<label for = "favourites_addition">Add movies to your favorites list</label>
			<br/><br/>
			Genre :
			<select name = "chosen_genre">
				{% for genre in genres %}
					<option value = "{{genre}}">{{genre}}</option>
				{% endfor %}
			</select>
			<p>
                                Director : <input type = "text" name = "chosen_director" 
				            placeholder = "Enter director name" value = "" /> 
				&nbsp;&nbsp;
				Start Year : <input type = "text" name = "start_year" 
				              placeholder = "YYYY" value = "" />
				&nbsp;&nbsp;
				Rating : <input type = "text" name = "chosen_rating" 
				         placeholder = "Enter minimum rating value" 
                                         value = "" />
				<br/><br/>
				Favourites addition : <input type = "text" name = "favourites_addition" 
				            placeholder = "Type indices separated by comma (e.g., 5849, 9742) from search results to add movies to your favorites list" value = "" style = "width: 650px;"/> 
			</p>
			<p>
				<button class = "form-submit-button"  type = "submit">Enter</button>
			</p>
		</form> 
                <pre><b>Message: {{message}}</b></pre>
                <embed type = "text/html" src = "{{ url_for("static", filename = "temp_search_result.html") }}" width = "750" height = "200">
	</body>
</html>